.header {
  width: 100%;
}

.header__title {
  font-size: 2vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 37px */
  letter-spacing: 2vw;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
